body{
    background-image: linear-gradient(to right,skyblue,lightgreen,grey);
    

}
.Heading{
    text-decoration: double;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
}